.box{
    height: 40px;
    width: 40px;
    background-color: orange;
    padding: 10px;
    color: darkslategray;
    
}

.box:hover{
    background-color: darkgreen;
    color: beige;
    font-weight: bold;
}
.box:active{
    height: 100px;
    width: 100px;
    font-size: 25pt;
    
} /* click and hold on the box to see changes */

input:focus{
    font-size: 30pt;
    width: 200px;
} /*when u edit the text it expands, when u remove curser it will be back to its original size */
