div{
    height: 100px;
    width: 100px;
    color: beige;
    background-color: indigo;
    padding: 20px;
    margin:30px;
}
.one{
    transform: scale(2,0.5);

}
.two{
    transform: rotateZ(10deg);
}
.three{
    transform: translateX(50px) translateY(40px);
}
.four{
    transform: rotate(45deg) translateX(200px);
}

.five{
    transform: skewX(-40deg) skewY(40deg) skewX(40deg) skewY(-40deg);
}
.six{
    transform: skew(10deg,20deg) rotate(-80deg);
}